{% extends 'base.html' %} {% block title %}
<title>Submit Your Bot</title>

{% endblock title %} {% block body %}

<form action="/submit" method="post">
  {% csrf_token %}
  <div class="formContainer">
    <div class="flex flex-col items-center justify-center my-4">
      <h3 class="heading text-3xl">Submit Your Bot</h3>
      <div class="container">
        <label for="bot_name">Enter Your Bot's Username with Tag</label>
        <input type="text" name="bot_name" required />
      </div>
      <div class="container">
        <label for="owner_name">Enter Your Username with Tag</label>
        <input type="text" name="owner_name" required />
      </div>
      <div class="container">
        <label for="bot_id">Enter Your Bot's Id</label>
        <input type="text" name="bot_id" required />
      </div>
      <div class="container">
        <label for="language_used">The Language Used To Make The Bot</label>
        <input type="text" name="language_used" required />
      </div>
      <div class="container">
        <label for="invite_link">Enter Your Bot's Invite Link</label>
        <input type="url" name="invite_link" required />
      </div>
      <div class="container">
        <label for="site">Enter Your Bot's Site</label>
        <input type="url" name="site" />
      </div>
      <div class="container">
        <label for="description">Describe Your Bot</label>
        <textarea name="description" cols="30" required rows="10"></textarea>
      </div>
      <button
        type="submit"
        class="bg-gradient-to-r from-sky-500 to-indigo-500 p-4 rounded-lg"
      >
        Submit
      </button>
    </div>
  </div>
</form>

{% endblock body %}
