@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap");

.navbar {
  font-family: Bungee;
}

@media only screen and (max-width: 1000px) {
  .logo {
    display: none;
  }
}

.heading {
  font-family: Lobster;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0px;
}
.formContainer {
  /* background-image: url(/static/images/mattBg.jpg); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-family: "Alegreya Sans SC", sans-serif;
}
