@tailwind base;
@tailwind components;
@tailwind utilities;
.navbar {
  font-family: Bungee;
}

@media only screen and (max-width: 1000px) {
  .logo {
    display: none;
  }
}

.heading {
  font-family: Lobster;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.formContainer {
  background-image: url(/static/images/mattBg.jpg);
  color: white;
}
